html[b-3jgsl493qc] {
  font-size: 14px;
}

@media (min-width: 768px) {
  html[b-3jgsl493qc] {
    font-size: 16px;
  }
}

html[b-3jgsl493qc] {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext[b-3jgsl493qc]::placeholder, .form-floating > .form-control[b-3jgsl493qc]::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus[b-3jgsl493qc]::placeholder, .form-floating > .form-control:focus[b-3jgsl493qc]::placeholder {
  text-align: start;
}
