.main-footer {
  background: var(--color-footer);
  color: var(--color-white);
  padding: var(--spacing-xxl) var(--spacing-lg) 0;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
}

.footer-brand {
  align-items: center;
  margin-left: var(--spacing-xl);
}

.footer-logo-badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  background: var(--color-white);

  border-radius: 50px;

  padding: var(--spacing-xs) 20px var(--spacing-xs) var(--spacing-xs);
}

.footer-columns {
  display: flex;
  gap: 150px;
  flex-wrap: wrap;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-col h5 {
  margin-bottom: 4px;

  color: var(--color-white);

  font-size: 1.8rem;
  font-weight: 700;
}

.footer-col a,
.footer-col span {
  color: var(--color-white);

  font-size: 0.85rem;
  font-weight: 600;

  text-decoration: none;
}

.footer-col a:hover {
  color: var(--color-footer-hover);
}

.footer-bottom {
  margin-top: 40px;

  text-align: center;

  padding: var(--spacing-md) var(--spacing-lg);

  font-size: 0.8rem;
  font-weight: 600;
}

/* responsive footer */

@media (max-width: 767px) {

  .footer-contents {
    flex-direction: column;
  }

  .footer-columns {
    gap: var(--spacing-xl);
  }

}
